body {
    background-image: url("blackjackLanding.png");
    background-size: cover;      /* makes the image fill the screen */
    background-repeat: no-repeat; /* prevents tiling */
    background-position: center;  /* centers the image */
    background-attachment: fixed;
}
h2 {
  text-align: center;
}

/*div styling*/
#how {
  background-color: transparent;
  max-width: 450px;
}

#message {
  display: none;
  border: 1.5px dashed #ffffff;
  font-size: 15px;
}

#play-game {
  background-color: transparent;
  max-width: 100px;
}

/*button styling*/
#close-btn {
  margin: auto;
}
#how-to-play-btn {
  padding: 5px 10px;
}

#play-btn {
  position: fixed;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 10px 100px;
}


button{
  background-color: rgb(0, 0, 0);
  border-radius: 10px;
  cursor: pointer;
  color: #fff; /* White text */
  /* No offset, strong blur, vibrant color */
  text-shadow: 0 0 5px #c92525, 0 0 20px #ff0000;
  transition: 0.2s;
}

button:hover {
  background-color: transparent
}

.gradient-text {
  color: #fff; /* White text */
  /* No offset, strong blur, vibrant color */
  text-shadow: 0 0 5px #c92525, 0 0 20px #ff0000;
}

